@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
:root {
    --main-bg-color: #1d2021;
    --prompt-bg-color: #262626;
    --text-color: #E3B23C;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: monospace;
    font-size: 1rem;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--main-bg-color);
  }

#screen {
    width: 56vw;
    height: 32vw;
    box-shadow: 1px 1px 10px;
    border-radius: 4px;
    padding: 1.5em 0em;
    overflow:hidden; 
    display:flex; 
    flex-direction:column-reverse;
    background-color: var(--prompt-bg-color);
}

#Container, #Container>div {
    transform: rotateX(180deg);
}

.log {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
}

input {
    background-color: var(--prompt-bg-color);
    color: var(--text-color);
    width: 90%;
}

#input {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
    
}

#input p {
    display: inline-block;
}
#davoid {
	margin: 20px auto;
	position:absolute;
	text-align:center;
	width:174px;
	height:143px;
}
#davoid .bg {
	margin:0 auto;
	position:relative;

}

#davoid .fg.standard-mode {
    content: url(../images/void_fg_dark.png);
}

#davoid .fg {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:-15px -35px;
}
#davoid:hover .bg {
	transform:rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.center {
  display: flex;
  justify-content: center;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
